{% extends "other/base.html" %}
{% load static %}
{% block csslink %} {% static 'customer/css/address_list.css' %} {% endblock %}
{% block title %} Account {% endblock %}

<!-- todo: fix css-->
{% block content %}

{% if addresses %}
<main>
    <section class="address_section">
        {% for address in addresses %}
        <a class="address" href="{% url 'address_update' pk=address.pk %}?next={{ request.path }}">
            <article>
                <h3> {{ address.state }} </h3>
                <h4> {{ address.city }} </h4>
                <p>Block {{ address.block }}, Street {{ address.street }}, Road {{ address.road }}</p>
                <p> Building {{ address.building }}, Floor {{ address.floor }}, Apartment {{ address.apartment }}</p>
            </article>
            <div class="check-icon__div">
                {% if address.active %}
                <img src="https://pizzaparadiso.s3.eu-north-1.amazonaws.com/media/check.png" alt="checked">
                {% endif %}
            </div>
        </a>
        {% endfor %}


        <div class="page-btns">
            <a href="{% url 'address_create' %}?next={{ request.path }}">
                <button type="button"> Add new address </button>
            </a>
            <a href="{% url 'customer_detail' customer_id=request.user.customer.id %}">
                <button type="button"> Done </button>
            </a>
        </div>
    </section>

</main>

{% else %}

<section>
    <h2> No address saved!</h2>
    <button type="button">
        <a href="{% url 'address_create' %}">Add new address</a>
    </button>
</section>

{% endif %}
{% endblock %}

{% block footer %}
<div></div>
{% endblock %}

