:root{
    --primary-color: #c31333;
    --secondary-color: #70a401;
    --tertiary-color: #f9fafc;
    --quaternary-color: #313131;
}

html , body{
    background-color: var(--tertiary-color);
    margin: 0;
}
p{
    margin: 0;
}
a{
    padding: 0;
    text-decoration: none;
    color: #000;
}

/* ===========================================================================================================*/
main{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}
.bill{
    margin: auto;
    padding: 30px 20px;
    width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid gray;
}
.bill__header{
    margin: 20px 0 10px 0;
    text-align: center;
}
.bill__header h3{
    margin: 0;
}
.bill__ul{
    margin: 10px 0 5px 0;
    padding: 10px 0 5px 0;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}
.order-detail{
    padding: 5px 20px;
    border: none;
}
.order-items p{
    margin-right: 5px;
    word-wrap: wrap;
}
.item-price{
    white-space: nowrap;
}
.customer-name{

}
.customer-address{
    margin: 0;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    border-bottom: 1px solid #c31333;

}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total{
    margin: 5px 0 0 0;
    padding: 0 20px;
    text-align: right;
}
.total h4{
    margin: 0;
}
.payment{
    margin: 10px 0;
    padding: 0 20px;

}
.payment h4{
    margin: 0;
}
.done-btn{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.no-order{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:768px)  and (max-width:1199px){
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width:1200px){
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width:1700px){
    main {
        grid-template-columns: repeat(4, 1fr);
    }
}